App_WebReferences/ServiceReferenceShon/names_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="nameByFirstChar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ot" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nameByFirstCharResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nameByFirstCharResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllNames">
        <s:complexType />
      </s:element>
      <s:element name="GetAllNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMale">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMaleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFemale">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFemaleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFemaleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="area_ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVetsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAreas">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAreasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAreasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="nameByFirstCharSoapIn">
    <wsdl:part name="parameters" element="tns:nameByFirstChar" />
  </wsdl:message>
  <wsdl:message name="nameByFirstCharSoapOut">
    <wsdl:part name="parameters" element="tns:nameByFirstCharResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllNames" />
  </wsdl:message>
  <wsdl:message name="GetAllNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMaleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMale" />
  </wsdl:message>
  <wsdl:message name="GetAllMaleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFemaleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFemale" />
  </wsdl:message>
  <wsdl:message name="GetAllFemaleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFemaleResponse" />
  </wsdl:message>
  <wsdl:message name="GetVetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetVets" />
  </wsdl:message>
  <wsdl:message name="GetVetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetVetsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAreasSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAreas" />
  </wsdl:message>
  <wsdl:message name="GetAllAreasSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAreasResponse" />
  </wsdl:message>
  <wsdl:portType name="names_ServiceSoap">
    <wsdl:operation name="nameByFirstChar">
      <wsdl:input message="tns:nameByFirstCharSoapIn" />
      <wsdl:output message="tns:nameByFirstCharSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNames">
      <wsdl:input message="tns:GetAllNamesSoapIn" />
      <wsdl:output message="tns:GetAllNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMale">
      <wsdl:input message="tns:GetAllMaleSoapIn" />
      <wsdl:output message="tns:GetAllMaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFemale">
      <wsdl:input message="tns:GetAllFemaleSoapIn" />
      <wsdl:output message="tns:GetAllFemaleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVets">
      <wsdl:input message="tns:GetVetsSoapIn" />
      <wsdl:output message="tns:GetVetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAreas">
      <wsdl:input message="tns:GetAllAreasSoapIn" />
      <wsdl:output message="tns:GetAllAreasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="names_ServiceSoap" type="tns:names_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nameByFirstChar">
      <soap:operation soapAction="http://tempuri.org/nameByFirstChar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNames">
      <soap:operation soapAction="http://tempuri.org/GetAllNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMale">
      <soap:operation soapAction="http://tempuri.org/GetAllMale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFemale">
      <soap:operation soapAction="http://tempuri.org/GetAllFemale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVets">
      <soap:operation soapAction="http://tempuri.org/GetVets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAreas">
      <soap:operation soapAction="http://tempuri.org/GetAllAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="names_ServiceSoap12" type="tns:names_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nameByFirstChar">
      <soap12:operation soapAction="http://tempuri.org/nameByFirstChar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNames">
      <soap12:operation soapAction="http://tempuri.org/GetAllNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMale">
      <soap12:operation soapAction="http://tempuri.org/GetAllMale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFemale">
      <soap12:operation soapAction="http://tempuri.org/GetAllFemale" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVets">
      <soap12:operation soapAction="http://tempuri.org/GetVets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAreas">
      <soap12:operation soapAction="http://tempuri.org/GetAllAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="names_Service">
    <wsdl:port name="names_ServiceSoap" binding="tns:names_ServiceSoap">
      <soap:address location="http://localhost:53178/names_Service.asmx" />
    </wsdl:port>
    <wsdl:port name="names_ServiceSoap12" binding="tns:names_ServiceSoap12">
      <soap12:address location="http://localhost:53178/names_Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>